[submodule "app/src/main/assets/linkura-local"]
	path = app/src/main/assets/linkura-local
	url = https://github.com/ChocoLZS/linkura-localify-assets
[submodule "link-like-diff"]
	path = app/src/main/cpp/LinkuraLocalify/http-mock/backend/tools/link-like-diff
	url = https://github.com/vertesan/link-like-diff.git
